{% extends 'DemotyBundle::baseAdmin.html.twig' %}

{% block title %}Witaj na Blogu {% endblock %}

{% block body %}

<form action="indexall" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" value="Wrzuć demotywatora!" />
</form>

{% endblock %}