{% extends 'LinkerBundle::base.html.twig' %}

{% block title %}Wyszukiwarka {% endblock %}

{% block body %}

        Rezultaty:
        <table>
            <thead>
                <tr>
                    <th>Skrócony link</th>
                    <th>Docelowy adres</th>
                    <th>Data dodania</th>
                </th>
            </thead>
            <tbody>
        {% for dane in qb%}
        <tr>
        <th><a href="http://localhost/s2bs1/web/app_dev.php/show/{{dane.shortLink}}">
            {{dane.shortLink}}</a>
        </th>
        <th>{{dane.longLink|longLinkFilter(dane.longLink)}}</th>
        <th>{{ dane.addDate|date('Y-m-d H:i:s')  }}</th>
        </tr>
        {% endfor %}
            <tbody>
{% endblock %}









